/bin/
.gradle
.gradle/*
.settings
.settings/*
.classpath
.project
*.iml
*.ipr
*.iws
out
out/*
*.log
*.log.*
.idea
.idea/*
target
target/*

demos
jsdemo
zooExplore
webarchetype

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
